$Softorange: hsl(35, 77%, 62%); //Ligth tittle
$Softred: hsl(5, 85%, 63%); //Button
$Offwhite: hsl(36, 100%, 99%); //Background
$Grayishblue: hsl(233, 8%, 79%); //Numbers
$Darkgrayishblue: hsl(236, 13%, 42%); //Paragraphs
$Verydarkblue: hsl(240, 100%, 5%); //Tittles and dark box

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  position: relative;
}
.fixed {
  position: fixed;
}

.container {
  width: 1032px;
  margin: auto;
}

.header {
  padding-top: 80px;
  padding-bottom: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  svg {
    transform: scale(0.9);
    position: relative;
    left: -2px;
    bottom: -1px;
  }
}
.nav__item {
  text-decoration: none;
  margin-left: 31px;
  color: $Darkgrayishblue;
  transition: ease 0.2s;

  &:hover {
    cursor: pointer;
    color: $Softred;
    transition: ease 0.2s;
  }
}

.mobile__nav-trigger {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  display: none;
  position: relative;
  width: 40px;
  z-index: 10;
}
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    transition: all 0.3s;
    position: relative;
  }

  span + span {
    margin-top: 5px;
  }
}

.active {
  span + span {
    margin-top: 19px;
  }
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

.new__img {
  width: 680px;
  height: 280px;
}
.new__img--mobile {
  display: none;
  width: 100%;
}
.main__top {
  display: grid;
  grid-template-columns: 680px 1fr;
  grid-column-gap: 28px;
}
.main__list {
  background-color: $Verydarkblue;
  padding: 26px 22px;
}
.main-list__tittle {
  color: $Softorange;
  font-size: 2.4em;
  font-weight: 700;
  margin-top: 1px;
}
.list__item {
  padding: 28px 0;
  border-bottom: 1px solid $Darkgrayishblue;
  font-size: 1.07em;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.list__tittle {
  color: $Offwhite;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    color: $Softorange;
    transition: ease 0.2s;
  }
}

.list__text {
  color: $Grayishblue;
  font-size: 0.87em;
  line-height: 22px;
}

.new__content {
  display: flex;
  margin-top: 27px;
}
.new__tittle {
  width: 50%;
  color: $Verydarkblue;
  font-size: 3.5em;
  font-weight: 800;
  line-height: 52px;
}
.new__inner {
  width: 50%;
  padding-left: 14px;
}
.new__text {
  color: $Darkgrayishblue;
  font-size: 0.9em;
  word-spacing: 1px;
  line-height: 22px;
  position: relative;
  top: -3px;
}

.new__more {
  height: 44px;
  width: 174px;
  background: $Softred;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $Offwhite;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
  margin-top: 32px;
  letter-spacing: 4px;
  &:hover {
    cursor: pointer;
    background-color: $Verydarkblue;
    transition: ease 0.2s;
  }
}

.main__bottom {
  margin-top: 70px;
}
.news {
  display: grid;
  grid-column-gap: 29px;
  grid-template-columns: 1fr 1fr 1fr;
}
.news__number {
  font-size: 1.8em;
  font-weight: 800;
  color: $Grayishblue;
}
.news__item {
  display: flex;
}
.news__img {
  width: 92px;
  height: 118px;
  position: relative;
  top: -1px;
}
.news__content {
  padding-left: 24px;
  position: relative;
  top: -3px;
}
.news__number {
  font-size: 1.8em;
  font-weight: 800;
}
.news__tittle {
  font-size: 1.12em;
  font-weight: 800;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
    color: $Softred;
    transition: ease 0.2s;
  }
}
.news__text {
  margin-top: 10px;
  line-height: 24px;
  font-size: 0.92em;
  color: $Darkgrayishblue;
}

.attribution {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75em;
  a {
    font-weight: 700;
    color: $Softred;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .container {
    width: 95%;
  }
  .main__top {
    grid-template-columns: 1.5fr 1fr;
  }
  .new__img {
    width: 100%;
  }
  .new__more {
    margin-top: 5px;
  }
  .attribution {
    position: initial;
    bottom: 15px;
    left: 0;
    transform: translateX(0);
    font-size: 0.75em;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .mobile__nav-trigger {
    display: block;
  }
  .main__top {
    grid-template-columns: 1fr;
  }
  .new__img {
    height: auto;
  }
  .new__content {
    display: block;
    margin-top: 18px;
  }
  .new__tittle {
    width: 100%;
    margin-top: 20px;
  }
  .new__inner {
    width: 100%;
    padding: 0;
  }
  .new__text {
    margin-top: 20px;
  }
  .new__more {
    margin-top: 20px;
  }
  .main__list {
    margin-top: 65px;
  }
  .main__bottom {
    margin-top: 65px;
  }
  .news {
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
  }
}

@media screen and (max-width: 600px) {
  .new__img {
    display: none;
  }
  .new__img--mobile {
    display: block;
  }
}

/*Animation*/

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.side__nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0 0 0 / 46%);

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  &.active {
    width: 100%;
    .side__nav-inner {
      width: 65%;
    }
  }
}
.side__nav-inner {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 135px;
}

.side__nav-item {
  padding: 8px 8px 16px 25px;

  text-decoration: none;
  font-size: 1.5em;
  color: $Verydarkblue;
  display: block;
  transition: 0.3s;
}
